<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36768453260-81969gftgfaffaof75lo976ujgs9qjal.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36768453260-81969gftgfaffaof75lo976ujgs9qjal</string>
	<key>API_KEY</key>
	<string>AIzaSyDyfrKepxUnu84O2VvjUrnfheLtHb3WH98</string>
	<key>GCM_SENDER_ID</key>
	<string>36768453260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jay.OrrNyan</string>
	<key>PROJECT_ID</key>
	<string>orrnyan-52798</string>
	<key>STORAGE_BUCKET</key>
	<string>orrnyan-52798.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36768453260:ios:d315f64c6d0109a5f4a1a9</string>
</dict>
</plist>